<div class="row">
    <div class="col">
        <div class="anagram-container">
            <div class="row">
                <button class="btn btn-primary col-1" *ngFor="let letter of anagram.letters; let i = index" (click)="letterClicked(i)" [disabled]="buttonsChecked[i]">{{letter | uppercase}}</button>
            </div>
            <br>
            <div class="row">
                <div class="col-10">
                    <h2>{{text | uppercase}}</h2>
                </div>
                <div class="col-1">
                    <button class="btn" (click)="deleteClicked()">-</button>
                </div>
                <div class="col-1">
                    <button class="btn btn-danger" (click)="deleteAllClicked()">-</button>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-primary" (click)="submitClicked()">Submit</button>
                </div>
            </div>
            <div class="row" *ngIf="submitted">

                <div class="col-10">
                    <h2>{{anagram.solution | uppercase}}</h2>
                </div>

                <div class="col-2">
                    <button class="btn btn-primary mt-2" (click)="nextClicked()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
